/**
 * Custom theme
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap);

// font setting
$headingFont: 'Playfair Display', serif;
$mainFont: 'Source Sans Pro', sans-serif;
$headingFontWeight: 700;
$headingTextTransform: none;
$headingStyle: italic;

$mainFont: 'Source Sans Pro', sans-serif;

// color setting goes here
$base2:    #353031;
$base1:   #484848;

// $text1:   #cd527b; //heading
$text1: #f7c9d4;
$text2:    #f4a7a6;

$text3:    #bffbda;
$text4:   #fbf140;

$text5:   #dbebc2;
$text6:   #ffffff; //body


// Override theme settings (see ../template/settings.scss)

// background color of slides
$backgroundColor: $base2;

// text colors
$mainColor: $text6;
$headingColor: $text2;

$linkColor: $text3;
$linkColorHover: lighten($text3, 20%);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
