/**
 * Custom theme
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(../../lib/font/league-gothic/league-gothic.css);


// font setting
$headingFont: 'League Gothic', Impact, sans-serif;
$mainFont: 'Lato', sans-serif;

$headingTextTransform: uppercase;
$headingStyle: 'regular';


// color setting goes here
$base2:    #353031;
$base1:   #484848;

// $text1:   #cd527b; //heading
$text1: #f7c9d4;
$text2:    #f4a7a6;

$text3:    #bffbda;
$text4:   #fbf140;

$text5:   #dbebc2;
$text6:   #ffffff; //body


// Override theme settings (see ../template/settings.scss)

// background color of slides
$backgroundColor: $base2;

// text colors
$mainColor: $text6;
$headingColor: $text2;

$linkColor: $text3;
$linkColorHover: lighten($text3, 20%);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
